table.chosenTabBar {
	border-collapse: collapse; 
	width: 100%;
}

.chosenTabBar td.commonTab {
	vertical-align: middle;
	border: 1px solid #cccccc;
	padding-top: 0px;
	padding-bottom: 0px;
	white-space: nowrap;
	border-bottom: 1px solid #cccccc;
}

.chosenTabBar td.gapTab {
	border-bottom: 1px solid #cccccc;
	width: .1em;
}


.chosenTabBar td.active {
	border-top: 1px solid #cccccc;
	background-color: #f0f0f0;
	font-weight: bold;
	border-bottom: 1px solid #f0f0f0;
}

.chosenTabBar .dropDownTab {
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	text-align: right;
}

.commonTab a {
	text-decoration: none;
}

.chosenTabBar .filler {
	border: none;
	border-bottom: 1px solid #cccccc;
	width: 100%;
}

.chosenTabBar td.commonTab:hover {
	background-color: #eeeeee;
}

.chosenTabBar td.dropDownTab .chosen-single {
	background: none;
	border-radius: 0px;
	border-bottom: none;
	font-size: 11px;
	font-style: italic;
	color: #cccccc;
	text-align: left;
}

.chosenTabBar td.dropDownTab .chosen-drop {
	text-align: left;
}

.viewChangeIndicator {
	float: right;
	margin-top: -1.7em;
	margin-right: 2em;
	width: 2em;
	height: 1.7em;
	display: none;
}

@-moz-document url-prefix() {
	.chosenTabBar td.dropDownTab .chosen-single {
		margin-top: -1px;
	}
}